body{
   padding: 50px;
}

.wrapper{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
}

.svg{
   width: 400px;
   height: 300px;
   border: 3px solid black;
   margin-bottom: 15px;
}
.car{
   width: 400px;
   height: 300px;
   border: 3px solid black;
}
.car svg{
   margin: 50px 0 0 20px;
}